# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\iTi\Concurrency\Ball with MultiThreads\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
